<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=213.202.212.198,5553;Initial Catalog=digita93_Senegal;Persist Security Info=True;User ID=ERPSaas; Password=qI6wB2uI5(nO4$tS0yJ8~cO5(dU2{; Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True"></add>

<!--    <add key="ConnectionString" value="Data Source=MUKESH-LAPTOP;Initial Catalog=digita93_Senegal;Persist Security Info=True;User ID=sa;Password=Amplio@123;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True"></add>-->
    <add key="domainURL" value="http://cfb.royalehayat.com/POS/"/>
    <add key="downloadURL" value="http://cfb.royalehayat.com/Gallery/"/>
    <add key="headerBackColor" value="#940128"/>
    <add key="headerForeColor" value="#ffffff"/>
    <add key="alternateColor" value="#f2f2f2"/>
    <add key="tableBorder" value="1"/>
    <add key="FromEmailAddress" value="complaints@royalehayat.com"/>
    <add key="EmailUserName" value="complaints@royalehayat.com"/>
    <add key="EmailPassword" value="Royal123$"/>
    <add key="EmailHost" value="smtp.siteprotect.com"/>
    <add key="port" value="587"/>
    <add key="BackDays" value="37"/>
    <add key="ReportName" value="DReport1"/>
    <!--<add key="ReportName" value="SReport1"/>-->
    <add key="IsTest" value="true"/>
  </appSettings>
</configuration>
