<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <!--<add name="CallEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIPAK;initial catalog=ERP_53_28_01_19_Senegal;user id=sa;password=server@123;connect timeout=500;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CallEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FTG46JK\SQLEXPRESS;initial catalog=digita93_Senegal8sep;user id=jalpa;password=jalpa1204;connect timeout=500;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="CallEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=70.32.28.3;initial catalog=digita93_Senegal;user id=johar;password=xqbQ#450;connect timeout=500;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="CallEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=167.114.211.10;initial catalog=Ecomm;user id=digitale;password=$johar786#;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CallEMEntities" connectionString="metadata=res://*/ModelEM.csdl|res://*/ModelEM.ssdl|res://*/ModelEM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=167.114.211.10;initial catalog=DecisionDB;user id=DecisionDB;password=l8Eqy6%7;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERPEntities" connectionString="metadata=res://*/ModelEcom.csdl|res://*/ModelEcom.ssdl|res://*/ModelEcom.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=167.114.211.10;initial catalog=Ecomm;user id=digitale;password=$johar786#;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>