<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
<connectionStrings><add name="CallEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FTG46JK\SQLEXPRESS;initial catalog=digita93_Senegal21oct;user id=jalpa;password=jalpa12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
